/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
.hljs {
  background: white;
  color: black;
}

.hljs-string {
  color: #695;
}

.hljs-meta .hljs-string {
  color: #695;
}

.hljs-meta {
  color: #1f7199;
}

.hljs-number {
  color: #695;
}

.hljs-literal {
  color: #695;
}

.hljs-comment {
  color: #986232;
}

.hljs-hide {
  display: none;
}

.hljs-r,
.hljs-R {
  color: #c01d24;
}

.hljs-k,
.hljs-K {
  color: #000000;
}

.hljs-b,
.hljs-B {
  color: #0040ff;
}

.hljs-g,
.hljs-G {
  color: #68d056;
}

.hljs-R,
.hljs-B,
.hljs-G,
.hljs-K {
  font-weight: bold;
}
