.vscode-light pre {
    /* background: white; */
    background-color: transparent;
    color: black;
}


img {
    width: 100%;
    height: auto;
}

details summary {
    cursor: pointer;
}

details summary>* {
    display: inline;
}

/* ::marker {
    display: none;
}

summary {
    list-style: none
} */